@font-face {
  font-family: "iconfont"; /* Project id 2131577 */
  src: url('iconfont.woff2?t=1622172294748') format('woff2'),
       url('iconfont.woff?t=1622172294748') format('woff'),
       url('iconfont.ttf?t=1622172294748') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsuo:before {
  content: "\e605";
}

.iconyonghu:before {
  content: "\e604";
}

.icondaibaobei:before {
  content: "\e774";
}

.iconrenwu:before {
  content: "\e6d5";
}

.iconzhuxiao:before {
  content: "\e6a1";
}

.icondaochu1:before {
  content: "\e667";
}

.iconyuyin:before {
  content: "\e655";
}

.iconjianpan1:before {
  content: "\e72e";
}

.iconpeizhi:before {
  content: "\e612";
}

.icontongxunlu:before {
  content: "\e602";
}

.icondaoru:before {
  content: "\e603";
}

.icondaochu:before {
  content: "\e666";
}

.icontiaojie:before {
  content: "\e634";
}

.iconguanbi:before {
  content: "\e601";
}

.iconxinzeng:before {
  content: "\e608";
}

.iconshuaxin:before {
  content: "\e629";
}

.iconfuzhi:before {
  content: "\e691";
}

.iconhuanyuan1:before {
  content: "\e641";
}

.iconzhuanweiqiyong:before {
  content: "\e6ce";
}

.iconzu:before {
  content: "\e647";
}

.icontingyong:before {
  content: "\e60b";
}

.iconshanchu:before {
  content: "\e665";
}

.iconbiangengneirong:before {
  content: "\e66d";
}

.iconxiugai:before {
  content: "\e624";
}

.icon3:before {
  content: "\e600";
}

